
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  font-family: 'Oxygen';
  background-image: url('../../../public/arara.png');
  background-size: 100%;
  background-position: top left;
  background-repeat: no-repeat;
}
