.headerContainer {
  height: 12rem;
  border-bottom: 3px solid var(--yellow-500);
  background: var(--gray-700);
}

.headerContext {
  max-width: 1120px;
  height: 12rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  .aa {
    padding: 6px 2rem;
    display: inline-block;
    position: relative;
    color: var(--white);
    transition: color 0.2s;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
   

    &:hover {
      background-color: #5252520b;
      border-radius: 4px;
    }

    .noBackground:hover {
      background-color: var(--gray-700);
    }

    &:active {
      color: var(--yellow-500);
      font-weight: bold;
    }
  }

  
}

@media (width <= 518px) {
  .headerContainer {
    height: 15rem;
  }

  .headerContext {
    height: 15rem;
    .aa {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 0.4rem 0;
    }
  }
}
