.cookie_card {
  position: fixed;
  bottom: 30px;
  left: 30px;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.05);
  max-width: 320px;
  z-index: 2;
  border-radius: 10px;
}

.title {
  font-weight: 600;
  color: rgb(31 41 55);
}

.description {
  margin-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(75 85 99);
}

.description a {
  --tw-text-opacity: 1;
  color: rgb(59 130 246);
}

.description a:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  flex-shrink: 0;
}

.pref:hover {
  color: rgb(156 163 175);
}

.pref:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.accept {
  font-size: 0.75rem;
  line-height: 1rem;
  background-color: rgb(17 24 39);
  font-weight: 500;
  border-radius: 0.5rem;
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  border: none;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.accept:hover {
  background-color: rgb(55 65 81);
}

.accept:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.decline {
    font-size: 0.75rem;
    line-height: 1rem;
    background-color: #ebecee;
    font-weight: 500;
    border-radius: 0.5rem;
    color: #222;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    border: none;
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .decline:hover {
    background-color: #cacaca
  }
  
  .decline:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }