.cardCode{
    width: 460px;
    height: 200px;
    background-color: #18181b;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.headerCoder{
    display: flex;
    flex-direction: row;
}

.tabs {
  display: flex;
  position: relative;
  background-color: #27272a;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15),
    0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 0.75rem;
  border-radius: 10px;
  width: 350px;
}

.tabs * {
  z-index: 2;
}

.container input[type="radio"] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 50px;
  font-size: 0.8rem;
  color: #909098;
  font-weight: bolder;
  border-radius: 10px;
  cursor: pointer;
  transition: color 0.15s ease-in;
  padding: 0.9rem;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  top: 10px;
  left: 30%;
  font-size: 10px;
  margin-left: 0.75rem;
  border-radius: 50%;
  margin: 0px;
  background-color: #e6eef9;
  transition: 0.15s ease-in;
}

.container input[type="radio"]:checked + label {
  color: var(--gray-700);
}

.container input[type="radio"]:checked + label > .notification {
  background-color: #185ee0;
  color: #fff;
  margin: 0px;
}

.container input[id="radio-1"]:checked ~ .glider {
  transform: translateX(0);
}

.container input[id="radio-2"]:checked ~ .glider {
  transform: translateX(90%);
}

.container input[id="radio-3"]:checked ~ .glider {
  transform: translateX(180%);
}
.container input[id="radio-4"]:checked ~ .glider {
  transform: translateX(280%);
}
.container input[id="radio-5"]:checked ~ .glider {
  transform: translateX(385%);
}
.container input[id="radio-6"]:checked ~ .glider {
  transform: translateX(475%);
}
.container input[id="radio-7"]:checked ~ .glider {
  transform: translateX(570%);
}

.glider {
  position: absolute;
  display: flex;
  height: 30px;
  width: 50px;
  background-color: var(--yellow-500);
  z-index: 1;
  border-radius: 99px;
  transition: 0.2s ease-out;
}

@media (max-width: 700px) {
  .tabs {
    transform: scale(0.6);
  }
}
