@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&family=Manrope:wght@200;300;400;500;600;700;800&family=Oxygen:wght@300;400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.cardCode {
  width: 600px;
  height: auto;
  background-color: #18181b;
  border-radius: 20px;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #27272a;
    border-radius: 12px 12px 0 0;
    border-bottom: 1px solid #35353b;

    .btn {
      margin-left: 1rem;
      margin-bottom: -24px;
    }

    button {
      padding: 0.5rem 0.5rem 0.5rem 0.5rem;
      background-color: transparent;
      color: #a1a1aa;
      border: none;
      font-family: "JetBrains Mono";
    }

    button:hover {
      color: var(--yellow-500);
    }

    .selectedBtn {
      color: var(--yellow-500);
      border-bottom: 1px solid var(--yellow-500);
    }

    .copy {
      padding: 10px;
    }
  }

  .method {
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 4px;
    span {
      color: var(--gray-100);
      padding-left: 6px;
      font-size: 8px;
    }

    .type {
      margin: 0 0 0 4px;
      padding: 5px 0 5px 1rem;
      font-size: 10px;
      font-weight: 600;
      font-family: "Fira Code";
    }

    .get {
      color: #61affe;
    }

    .post {
      color: #4fcc93;
    }

    .put {
      color: #faa13d;
    }

    .delete {
      color: #f63e42;
    }

    .options {
      color: #9027fa;
    }

    .urlAPI {
      font-family: "Fira Code";
      font-size: 12px;
      font-weight: 400;
      padding-left: 6px;
      color: var(--gray-100);
    }
  }

  .codeContent {
    color: var(--whiteCode);
    padding: 1.2rem;
    //font-family: "JetBrains Mono";
    border-top: 1px solid #35353b;
    font-size: 12px;

    .b {
      color: var(--blueCode);
    }

    .g {
      color: var(--greenCode);
    }

    .p {
      color: var(--purpleCode);
    }

    .r{
      color: var(--redCode);
    }
    
    .bg{
      color: var(--bigredCode);
      font-weight: bold;
    }
  }
}

@media (width <=580px) {
  .tabs {
    transform: scale(0.6);
  }

  .cardCode {
    width: 330px;
    height: auto;
    background-color: #18181b;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

      code{
        font-size: 9px;
      }

    .header {
      button{
        font-size: 10px;
      }
    }
  }
}