.divPrivacy{
    margin: 2rem 2rem;
}
.titles{
    color: #ebe8d8;
    font-size: 1rem;
}

.texts{
    color: #a2a9b8;
    font-weight: 400;
    font-size: 0.78rem;
    text-align: justify;
}