@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

.body {
  display: flex;
  height: 155vh;
  font-family: "Oxygen";
  background-image: url("/background.png");

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 10px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .author {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: rgba(0, 0, 0, 0.308);
    width: auto;
    border-radius: 3px;
    text-align: center;
    font-family: "Gill Sans MT";
    padding: 3px;
  }

  .author:hover {
    text-decoration: underline;
  }

  .sidebar {
    width: 250px;
    background-size: 250%;
    background-repeat: no-repeat;
    color: #fff;
    padding: 20px;
    height: auto;

    .intro {
      display: flex;
      justify-content: center;

      .button_name {
        align-items: center;
        appearance: none;
        background-color: #fcfcfd;
        border-radius: 4px;
        border-width: 0;
        box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,
          rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
        box-sizing: border-box;
        color: #36395a;
        cursor: pointer;
        display: inline-flex;
        font-family: "JetBrains Mono", monospace;
        height: 48px;
        justify-content: center;
        line-height: 1;
        list-style: none;
        overflow: hidden;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
        text-align: left;
        text-decoration: none;
        transition: box-shadow 0.15s, transform 0.15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow, transform;
        font-size: 18px;
      }

      .button_name:focus {
        box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
          rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
      }

      .button_name:hover {
        box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px,
          rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
        transform: translateY(-2px);
      }

      .button_name:active {
        box-shadow: #d6d6e7 0 3px 7px inset;
        transform: translateY(2px);
      }
    }

    .list {
      list-style: none;
      font-weight: 200;
      font-size: 1rem;
      padding: 0;
      text-align: start;
      display: flex;
      flex-direction: column;
      align-items: start;
      margin-top: 1rem;

      li {
        background-color: #222;
        border-radius: 5px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.15s ease-in;

        p {
          padding: 0.5rem 1.2rem;
        }

        .typeReq {
          margin-right: 1rem;
          background: #eafbf5;
          padding: 6px;
          border-radius: 2.5px;
          font-size: 12px;
          display: flex;
          align-items: center;
          height: 20px;
          font-weight: bold;
        }

        .get {
          color: #61affe;
          border: 2px solid #73b8fe;
        }

        .options {
          color: #9012fe;
          border: 2px solid #9c2dfe;
        }

        .delete {
          color: #f93e3e;
          border: 2px solid #fa5454;
        }
      }

      li:focus {
        box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
          rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
      }

      li:hover {
        box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px,
          rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
        transform: translateY(-2px);
        background-color: var(--white);

        border-radius: 6px;
        cursor: pointer;

        p {
          color: #18181b;
          font-weight: bold;
        }
      }

      li:active {
        box-shadow: #d6d6e7 0 3px 7px inset;
        transform: translateY(2px);
      }
    }
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem 10rem 2rem 2rem;
    height: 100vh;
    font-family: "Manrope";

    .goBack {
      display: none;
    }

    .title {
      font-size: x-large;
      display: flex;
      align-items: center;

      .version {
        text-align: center;
        color: #777777;
        border: 1px solid #777777;
        border-radius: 10px;
        font-size: 12px;
        font-weight: lighter;
        padding: 0.2rem 1rem;
        margin-left: 1rem;
      }
    }

    h1,
    h2,
    h3 {
      padding: 0;
      color: #18181b;
    }

    p {
      font-weight: 400;
      padding: 1rem;
      text-align: justify;
      color: #47474d;
    }

    .guides {
      margin-top: 2rem;
      padding: 2rem 0;
      display: flex;
      flex-direction: column;

      border-top: 0.1px solid rgba(0, 0, 0, 0.164);

      .subGuides {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;

        p {
          padding: 1rem 0;
          text-align: start;
          font-weight: 300;
        }

        .d1 {
          padding: 1rem;
          width: 240px;
          height: auto;

          label {
            color: var(--blue-900);
            display: flex;
            align-items: center;
            justify-content: flex-start;
          }

          label:hover {
            font-weight: bolder;
            cursor: pointer;
          }
        }
      }
    }

    .reqWithImg {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      .gridImage {
        display: grid;
        grid-template-columns: auto auto;
        margin-left: 2rem;

        .gridItem {
          padding: 0 1px;
        }
      }

      // .image{
      //   border-radius: 12px;
      //   margin-left: 6px;
      // }
    }
  }

  .api_info {
    background: #f4f4f4;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
  }

  .api_endpoints {
    background: #f4f4f4;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
  }

  .additional_content {
    width: 30%;
    background: #2c3e50;
    border: 1px solid #ddd;
    padding: 20px;
    height: 100vh;
    color: #fff;
  }

  .active {
    background-color: #555;
  }
}


@media (width <=580px) {
  .body {
    height: 180vh;
    display: block;

    .content {
      padding: 2rem;

      .steps {
        .cardStep {
          height: 50px;
          width: 120px;
        }
      }

      .goBack {

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 26px;
        width: 100px;
        margin-bottom: 2rem;
        background-color: #fff;
        border: none;

        p {
          padding: 2px 4px 0 0;
          color: #222;

        }

      }

      .goBack:hover {
        text-decoration: underline;
        cursor: pointer;

        p {
          font-weight: bold;
        }
      }

      .reqWithImg {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .gridImage {
          margin: 1.3rem;
          display: grid;
          grid-template-columns: 150px 120px;

          .gridItem {
            padding: 0 0;
          }
        }
      }
    }
  }

  .sidebar {
    display: none;
  }
}