.divContact{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem 2rem;
  width: auto;
  height: 200px;
}

.btn {
  width: 320px;
  display: flex;
  overflow: hidden;
  position: relative;
  padding: 0.875rem 72px 0.875rem 1.75rem;
  color: #ffffff;
  font-size: 15px;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.6rem;
  gap: 0.75rem;
  box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -1px #0000000f;
  border: none;
  transition: all .6s  ease;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.btnEmail{
  background-color: #ea4335;
  background-image: linear-gradient(to top right,#fbbc05, #ea4335);
}

.btnEmail .spanEmail{
  background-color: #fbbc05;
  display: grid;
  position: absolute;
  right: 0;
  place-items: center;
  width: 3rem;
  height: 100%;
}


.btnGitHub{
  background-color: #272b33;
  background-image: linear-gradient(to top right,#0a0c10, #272b33);
}

.btnGitHub .spanGit{
  background-color: #0a0c10;
  display: grid;
  position: absolute;
  right: 0;
  place-items: center;
  width: 3rem;
  height: 100%;
}

.btnLinkedin{
  background-image: linear-gradient(to top right, #0a66c2,#039be5);
}

.btnLinkedin .spann {
  background-color: #0a66c2;
  display: grid;
  position: absolute;
  right: 0;
  place-items: center;
  width: 3rem;
  height: 100%;
}

.btn .spann .svgg {
  width: 1.5rem;
  height: 1.5rem;
}

.btn:hover {
  box-shadow: 0 4px 30px  #04afff1a, 0 2px 30px #0b9eff0f;
}


@media (width <= 580px) {
  .divContact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 2rem;
    width: auto;
    height: 200px;
  }

  .btn {
    width: 260px;
    display: flex;
    overflow: hidden;
    position: relative;
    padding: 0.875rem 72px 0.875rem 1.75rem;
    color: #ffffff;
    font-size: 12px;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.6rem;
    gap: 0.75rem;
    box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -1px #0000000f;
    border: none;
    transition: all .6s  ease;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}